.p-3{
	padding: 20px;
}

body {
	background: none;
	font-family: "Arial";
}

.navbar {
	background:#EF3530;
	color:black;
	font-weight: bold;
}

h3{
	color:#EF3530;
	font-weight: bold;
	font-size:30px;
}